
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  font-size: 1.15rem;
  font-weight: 500;
}

body {
  display: grid;
  place-content: center;
}

.App {
  text-align: center;
}

section {
  width: 250px;
  height: 250px;
  border: 2px solid black;
  border-radius: 0.5rem;
  display: grid;
  place-content: center;
  box-shadow: 2px 2px 4px black;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  position: absolute;
  left: -9999999px;
}

input {
  width: 250px;
  height: 40px;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px black;
  padding: 5px;
}

input::placeholder {
  font-size: 1.15rem;
}

